
.navbar-brand {
  font-size: 1.8rem; /* Larger font size for the logo */
  font-weight: bold;
}

.navbar-toggler {
  border: none; /* Remove the border of the toggler */
}

.nav-link {
  font-size: 1.2rem; /* Larger font size for the nav links */
  padding: 0.5rem 1rem; /* Add some padding */
  color: #000; /* Default link color */
}

.nav-link:hover {
  color: #007bff; /* Change color on hover */
}

.offcanvas-title {
  font-size: 1.5rem; /* Larger font size for the offcanvas title */
  font-weight: bold;
}

.offcanvas-body .nav-link {
  font-size: 1.2rem; /* Larger font size for the offcanvas nav links */
  padding: 1rem; /* Add padding */
  font-weight: bold;
}

.offcanvas-body .nav-link:hover {
  color: #007bff; /* Change color on hover */
}


.navbar-nav{
  font-size: 22px;
    font-weight: bold;
    /* color: blue !important; */
    --bs-nav-link-color: blue !important;
}